:host {
  margin: -1px 0 0;
  display: block;
}
.app-nav {
  background: linear-gradient(to right, #ef6c00, #e65100);
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
  text-align: center;
  a {
    color: rgba(255,255,255,.6);
    padding: 15px 0;
    display: inline-block;
    min-width: 150px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: .2s ease;
    &:hover,
    &.active {
      color: #fff;
      border-bottom-color: #fff;
    }
  }
}
.wrapper {
  max-width: 800px;
  width: 96%;
  margin: 0 auto;
}