.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  p {
    flex: 1;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: 0;
    background: #f9f9f9;
    border: 1px solid #c1cedb;
    width: 50px;
    height: 50px;
    transition: all .2s ease-in-out;
    &:hover {
      background: darken(#f9f9f9, 5%);
    }
  }
}